<nz-spin [nzSpinning]="isSpinning">
    <h3>Cliente</h3>
    <div class="content-form">
        <form nz-form [formGroup]="validateForm">
            <!-- <nz-form-item>
                <nz-form-label nzRequired nzSpan="4">Left-aligned text label</nz-form-label>
                <nz-form-control nzErrorTip="Please input your username!" nzSpan="8">
                <input formControlName="userName" nz-input placeholder="Username" />
                </nz-form-control>
            </nz-form-item> -->
            <div nz-row [nzGutter]="16">
                <div nz-col [nzSpan]="12">
                    <span>Nome</span>
                    <input [(ngModel)]="model.name" name="name"
                    nz-input placeholder="Nome" nzSize="large" 
                    formControlName="name"
                    nzRequired/>
                </div>
                <div nz-col [nzSpan]="12">
                    <span>Telefone</span>
                    <input [(ngModel)]="model.phone" name="phone"
                    formControlName="phone"
                    mask="00 00000-0000"
                    nz-input placeholder="Telefone" nzSize="large" />
                </div>
                <div nz-col [nzSpan]="12">
                    <span>Cpf</span>
                    <input [(ngModel)]="model.cpf" name="cpf"
                    formControlName="cpf"
                    nz-input placeholder="Cpf" nzSize="large"
                    mask="000.000.000-00"
                    nzRequired/>
                </div>
                <div nz-col [nzSpan]="12">
                    <span>Data de nascimento</span>
                    <nz-date-picker [(ngModel)]="model.due_date" name="due_date"
                    formControlName="due_date"
                    [nzFormat]="'dd/MM/YYYY'"
                    nzPlaceHolder="Data de nascimento" [nzSize]="'large'" style="width: 100%;"
                    nzRequired></nz-date-picker>
                </div>
                <div nz-col class="bottom-content" [nzSpan]="24">
                    <button nz-popconfirm
                    nzPopconfirmTitle="Você realmente deseja apagar este registro?"
                    nzPopconfirmPlacement="leftTop"
                    nz-button nzType="primary" (nzOnConfirm)="delete()" nzDanger>Apagar</button>
                    <button nz-button nzType="primary" (click)="save()">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</nz-spin>