.ant-input, .ant-input-affix-wrapper{
    margin: 0 8px 8px 0;
}
.content-login{
    margin-top: 9.5rem;
    width: 35%;
}
.login-screen{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.anticon{
    cursor: pointer;
}