.example-spacer {
    flex: 1 1 auto;
}
.toolbar{
    display: flex;
    align-items: center;
    background-color: var(--secundary);
    color: #fff;
    border-bottom:  1px solid var(--terciary);
}
.example-container{
    background-color: var(--primary);
    color: var(--text-color);
    height: calc(100vh - 4rem);
}
.side-bar{
    width: 14rem;
    background-color: var(--secundary);
    color: #fff;
    border-right: 1px solid var(--terciary);
}
.item-content{
    display: flex;
    align-items: center;
}
.content-sidebar{
    margin: 10px;
}
.component-load{
    margin: 10px;
}
.title{
    text-align: center;
    padding: 0.7rem 0;
    margin-bottom: 0.5rem;
    font-size: 22px;
    font-weight: bold;
}
.itens{
    display: flex;
    flex-direction: column;
}
.item {
    cursor: pointer;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    font-size: 14px;
    
}
.item:hover{
    border-radius: 15px;
    background-color: var(--terciary);
}

.active{
    border-radius: 15px;
    background-color: var(--terciary);
}