<mat-toolbar class="toolbar">
  <button mat-icon-button class="example-icon"
  (click)="open = !open">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="font-weight: bold;">Meu painel</span>
  <!-- <span>Painel Administrativo</span> -->
  <span class="example-spacer"></span>
  <button mat-icon-button 
  (click)="setMode()">
    @if (lightMode) {
      <mat-icon>wb_cloudy</mat-icon>
    } @else {
      <mat-icon>wb_sunny</mat-icon>
    }
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer class="side-bar" mode="side" opened={{open}}>
    <div class="content-sidebar">
      <div class="itens">
        @for (item of sideBarItens; track $index) {
          <div class="item" [routerLink]="[item.redirect]" routerLinkActive="active" >
            <div class="item-content">
              <mat-icon>{{item.materialIconName}}</mat-icon>
              <span style="margin-left: 7px;">{{item.title}}</span>
            </div>
          </div>
        }
      </div>
    </div>
  </mat-drawer>
  <div class="component-load">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>