<nz-spin [nzSpinning]="isSpinning">
    <h3>Ordem de serviço</h3>
    <div class="content-form">
        <form nz-form [formGroup]="validateForm">
            <div nz-row [nzGutter]="16">
                <div nz-col [nzSpan]="24">
                    <span>Nome da OS</span>
                    <input [(ngModel)]="model.name" name="name"
                    nz-input placeholder="Ordem de serviço" nzSize="large" 
                    formControlName="name"
                    nzRequired/>
                </div>
                <div nz-col [nzSpan]="24">
                    <span>Data da OS</span>
                    <nz-date-picker [(ngModel)]="model.start_date" name="start_date"
                    formControlName="start_date"
                    nzPlaceHolder="Data da OS" [nzSize]="'large'" style="width: 100%;"
                    [nzFormat]="'dd/MM/YYYY'"
                    nzRequired></nz-date-picker>
                </div>
                <div nz-col [nzSpan]="12">
                    <span>Funcionário responsável</span>
                    <nz-select [nzSize]="'large'" nzShowSearch nzAllowClear
                    nzPlaceHolder="Funcionário responsável"
                    formControlName="workers_id" [(ngModel)]="model.workers_id">
                        @for (item of workers; track $index) {
                            <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                        }
                    </nz-select>
                </div>
                <div nz-col [nzSpan]="12">
                    <span>Cliente</span>
                    <nz-select [nzSize]="'large'" nzShowSearch nzAllowClear
                    nzPlaceHolder="Cliente"
                    formControlName="clients_id" [(ngModel)]="model.clients_id">
                        @for (item of clients; track $index) {
                            <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                        }
                    </nz-select>
                </div>
                <div nz-col [nzSpan]="24">
                    <span>Descrição</span>
                    <textarea rows="4"
                    formControlName="description"
                    nz-input placeholder="Descrição"
                    [(ngModel)]="model.description" name="description"></textarea> 
                </div>
                <div nz-col class="bottom-content" [nzSpan]="24">
                    <button nz-popconfirm
                    nzPopconfirmTitle="Você realmente deseja apagar este registro?"
                    nzPopconfirmPlacement="leftTop"
                    nz-button nzType="primary" (nzOnConfirm)="delete()" nzDanger>Apagar</button>
                    <button nz-button nzType="primary" (click)="save()">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</nz-spin>