
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
// @import '~bootstrap/dist/css/bootstrap.min.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$admin-panel-app-primary: mat.define-palette(mat.$indigo-palette);
$admin-panel-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$admin-panel-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$admin-panel-app-theme: mat.define-light-theme((
  color: (
    primary: $admin-panel-app-primary,
    accent: $admin-panel-app-accent,
    warn: $admin-panel-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($admin-panel-app-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #fff;
  --secundary: #202837;
  --terciary: #384152;
  --text-color: #000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
}

@media (max-width: 800px) {
  .mat-drawer-content{
    position: fixed !important;
  }
}

@media (min-width: 800px) {
  .mat-drawer-content{
    position: relative !important;
  }
}

*::-webkit-scrollbar {
  height: 5px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #848484;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #848484;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #848484;
}