/* You can add global styles to this file, and also import other style files */
@import 'font-awesome';
@import "ng-zorro-antd/ng-zorro-antd.css";
// body{
//     background-color: #f0f2f5;
// }

@media (max-width: 800px) {
    .ant-table {
      overflow: scroll !important;
    }
    .ant-picker-date-panel{
        overflow: scroll;
        width: auto;
    }
    // .ant-picker-panel{
    //     table{
    //         min-width: 800px;
    //     }
    // }
    .ant-col{
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .ant-layout-sider{
        z-index: 10000 !important;
        height: 100vh;
        z-index: 1;
        position: fixed;
        min-width: 0 !important;
        max-width: 220px !important;
    }
    .ant-layout-content{
        position: relative;
        z-index: 0;
        overflow: scroll;
        width: 100% !important;
    }
}
  
@media (min-width: 800px) {
    .ant-layout-sider{
        z-index: 10000 !important;
        height: 100%;
        z-index: 1;
        min-width: 0 !important;
        max-width: 270px !important;
    }
    .ant-layout-content{
        z-index: 0;
        overflow-y:scroll;
        width: 100% !important;
    }
}

  .large-size{
    min-width: 800px;
}