.chart-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}
#MyChart{
    height: 100%;
    height: 400px !important;
    max-width: 100%;
}
#chartPie{
    height: 100%;
    height: 400px !important;
    max-width: 100%;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chart-container-pie{
    margin-top: 3.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
}