.ant-input, .ant-input-affix-wrapper, .ant-picker-large{
    margin: 0 8px 8px 0;
}
.content-form{
    width: 100%;
    margin-top: 2.7rem;
    .bottom-content{
        width: 100%;
        display: flex;
        justify-content: end;
        button{
            margin: 0.3rem;
        }
    }
}
h3{
    font-weight: bold;
}
span{
    color: rgb(100, 100, 100);
    font-weight: bold;
    margin-bottom: 3px;
}
.img-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    img{
        border-radius: 50%;
    }
}