<nz-layout class="content">
    <nz-header class="header">
      <div class="logo" [routerLink]="['/login']">
        <img height="64" src="../../../assets/logo.png">
        <span class="logo-title">INFINITY</span>
      </div>
      <div class="status">
        @if (token) {
          <span style="color: rgb(32, 167, 32);">Conectado</span>
        } @else {
          <span style="color: rgb(220, 67, 67);">Desconectado</span>
        }
      </div>
    </nz-header>
    <nz-layout>
      <nz-sider nzWidth="270px">
        <ul nz-menu nzMode="inline" class="sider-menu">
          <li nz-submenu nzTitle="Clientes" nzIcon="user" nzOpen>
            <ul>
              <li nz-menu-group nzTitle="Cliente">
                <ul>
                  <li [routerLink]="['/clients/novo']" nz-menu-item>Novo cliente</li>
                  <li [routerLink]="['/clients']" nz-menu-item>Lista de clientes</li>
                </ul>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Funcionários" nzIcon="usergroup-add" nzOpen>
            <ul>
              <li nz-menu-group nzTitle="Funcionário">
                <ul>
                  <li [routerLink]="['/workers/novo']" nz-menu-item>Novo funcionário</li>
                  <li [routerLink]="['/workers']" nz-menu-item>Lista de funcionários</li>
                </ul>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Ordens de serviço" nzIcon="usergroup-add">
            <ul>
              <li nz-menu-group nzTitle="Ordem de serviço">
                <ul>
                  <li [routerLink]="['/service_orders/novo']" nz-menu-item>Nova ordem de servico</li>
                  <li [routerLink]="['/service_orders']" nz-menu-item>Lista de OS</li>
                </ul>
              </li>
            </ul>
          </li>
          <li [routerLink]="['/calendar']" nz-menu-item>
            <span><i class="fa-solid fa-calendar"></i></span>
            <span style="margin-left: 10px;">Calendário</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="setting"></span>
            <span>Configurações</span>
          </li>
          <li nz-menu-item [routerLink]="['/login']">
            <span><i class="fa-solid fa-door-open"></i></span>
            <span style="margin-left: 10px;">Sair</span>
          </li>
        </ul>
      </nz-sider>
      <nz-content class="component-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>