<nz-layout class="content">
    <nz-header class="header">
      <div class="logo" [routerLink]="['/login']">
        <img height="57" src="../../../assets/logo.png">
        <span class="logo-title">INFINITY</span>
      </div>
      <div class="nav-btn">
        <a (click)="setNav()">
          <i class="fa-solid fa-bars"></i>
        </a>
      </div>
    </nz-header>
    <nz-layout>
      <nz-sider nzWidth="{{width}}" class="sider">
        <ul nz-menu nzMode="inline"  class="sider-menu">
          <li nz-submenu nzTitle="Clientes" nzOpen>
            <ul>
              <li nz-menu-group nzTitle="Cliente">
                <ul>
                  <li [routerLink]="['/clients/novo']" nz-menu-item>Novo cliente</li>
                  <li [routerLink]="['/clients']" nz-menu-item>Lista de clientes</li>
                </ul>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Funcionários" nzOpen>
            <ul>
              <li nz-menu-group nzTitle="Funcionário">
                <ul>
                  <li [routerLink]="['/workers/novo']" nz-menu-item>Novo funcionário</li>
                  <li [routerLink]="['/workers']" nz-menu-item>Lista de funcionários</li>
                </ul>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Ordens de serviço">
            <ul>
              <li nz-menu-group nzTitle="Ordem de serviço">
                <ul>
                  <li [routerLink]="['/service_orders/novo']" nz-menu-item>Nova ordem de servico</li>
                  <li [routerLink]="['/service_orders']" nz-menu-item>Lista de OS</li>
                </ul>
              </li>
            </ul>
          </li>
          <li [routerLink]="['/calendar']" nz-menu-item>
            <span><i class="fa-solid fa-calendar"></i></span>
            <span style="margin-left: 10px;">Calendário</span>
          </li>
          <li nz-menu-item>
            <span>
              <i class="fa-solid fa-circle-info"></i>
            </span>
            <span style="margin-left: 10px;">Sobre</span>
          </li>
          <li nz-menu-item [routerLink]="['/login']">
            <span><i class="fa-solid fa-door-open"></i></span>
            <span style="margin-left: 10px;">Sair</span>
          </li>
          <li nz-menu-item style="margin-bottom: 4.5rem;" >
            <div class="status">
              @if (token) {
                <span style="color: rgb(32, 167, 32);"><i class="fa-solid fa-signal"></i></span>
                <span style="color: rgb(32, 167, 32); margin-left: 5px;">Conectado</span>
              } @else {
                <span style="color: rgb(220, 67, 67);"><i class="fa-solid fa-signal"></i></span>
                <span style="color: rgb(220, 67, 67); margin-left: 5px;">Desconectado</span>
              }
            </div>
          </li>
        </ul>
      </nz-sider>
      <nz-content class="component-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
  