<h3>Olá, meu nome é nome é Felipe</h3>
<p>Eu sou um Desenvolvedor de software e fiz esse projeto para demonstrar meus conhecimentos em desenvolvimento de software.</p>
<p>Caso tenha se interessado pelo meu trabalho entre em contato comigo:</p>
<a class="contact">
    <p>
        <i class="fa-solid fa-envelope" style="margin-right: 10px;"></i>
        <span>felipecarvalho.dev10&#64;gmail.com</span>
    </p>
</a>
<a class="contact" href="https://api.whatsapp.com/send?phone=5521987420377">
    <p>
        <i class="fa-solid fa-phone" style="margin-right: 10px;"></i>
        <span>(21) 98742-0377</span>
    </p>
</a>
<a class="contact" href="https://www.linkedin.com/in/felipeferreiracardev">
    <p>
        <i class="fa-brands fa-linkedin-in" style="margin-right: 10px;"></i>
        <span>felipeferreiracardev</span>
    </p>
</a>