<div class="content">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      @for (item of displayedColumns; track $index) {
        <ng-container matColumnDef={{item.column}}>
          <th mat-header-cell *matHeaderCellDef>{{item.name}}</th>
          <td mat-cell *matCellDef="let element">{{element[item.column]}}</td>
        </ng-container>
      }
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <div style="border-top: 1px solid #E0E0E0;">
        <mat-paginator [pageSizeOptions]= "[10, 25, 50]" showFirstLastButtons> 
        </mat-paginator> 
    </div>
</div>